.form__label {
    font-size: 24px;
    font-weight: bold;
    margin-top: 45px;
}

.form__input {
    border: 1px solid black;
    border-radius: 4px;
    height: 45px;
    padding: 10px;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__button {
    max-width: 100%;
    margin: 30px auto;
    text-align: center;
}

.form__button--submit {
    background: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    height: 60px;
    padding: 16px 8px;
    width: 100%;
    margin-top: 60px;
}

.login__link {
    margin: 0 auto;
    max-width: 680px;
    text-align: center;
}

.login__link--item {
    font-size: 20px;
    font-weight: normal;
    color: #0073CC;
    text-decoration: none;
}