.form__button--submit {
    height: 60px;
    padding: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
}


.register__link {
    text-align: center;
}

.register__link--item {
    font-size: 20px;
    font-weight: normal;
    color: #0073CC;
    text-decoration: none;
}