* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

body {
    background: #F0EFF2;
}

body.auth-body {
    background: #fff;
    height: 100vh;
}

.header {
    background: black;
    width: 100%;
}

.header__inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo img{
    width: 370px;
    height: 36px;
}

.inner__group {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
}

.inner__group form {
    margin: 0;
}

.inner__group--item {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.inner__group--item:not(:last-child) {
    margin-right: 10px;
}

.logout-button {
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0;
}

main {
    height: 100vh;
}

.content {
    margin: 0 auto;
    max-width: 1540px;
    min-height: 100vh;
    padding: 50px 30px;
    background: none;
}

.content__header {
    text-align: center;
    margin-top: 30px;
}

.content__title {
    font-size: 36px;
}

.form {
    margin: 0 auto;
    max-width: 680px;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 24px;
    font-weight: bold;
    margin-top: 45px;
}

.form__input {
    border: 1px solid black;
    border-radius: 4px;
    height: 45px;
    padding: 10px;
}

.form__button {
    max-width: 100%;
    margin: 30px auto;
    text-align: center;
}

.form__button--submit {
    background: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    height: 60px;
    padding: 16px 8px;
    width: 100%;
    margin-top: 60px;
}

.form__error {
    color: #FF5555;
    margin-top: 0;
    font-size: 25px;
}